.Q-ImgFilter {
  background-image: url('/src/images/articles/campain.webp');
  display: flex;
  width: 20.5vw;
  height: 9vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  background-size: cover;
}
.Q_SmalImg {
  width: 23vw;
  height: 23vw;
  border-radius: 11vw;
  background-position: 60% 70%;
  background-size: cover;
}

.Q_MiddleImg {
  width: 23vw;
  height: 30vw;
  background-size: cover;
  border-radius: 0.8vw;
}

.Q_BigImg {
  width: 45vw;
  height: 46vw;
  background-size: cover;
  border-radius: 0.8vw;
}
