.M-HeaderCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.28vw;
}
.M-MainPageTab {
  display: flex;
  width: 16.46vw;
  height: 3.54vw;
  padding: 0.28vw;
  align-items: center;
  justify-content: center;
  gap: 0.28vw;
  border-radius: 6.94vw;
  background-color: var(--soft-orange-50);
}
