.M-HeaderCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.28vw;
}

.M-MainPageTab {
  display: flex;
  padding: 0.28vw;
  align-items: center;
  justify-content: center;
  gap: 0.28vw;
  border-radius: 6.94vw;
  background-color: var(--soft-orange-50);
}

//бегущая строка
.M-Hero-Cards-hidden {
  width: 100%;
}
.M-Hero-Cards-hidden {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 1.25vw;
  margin-bottom: 1.25vw;
}
.M-Hero-Cards {
  display: inline-flex;
  flex-direction: row;
  gap: 0.83vw;
  position: relative;
  z-index: 1;
  animation: horizontalRunningPhotos 12s linear infinite;
}

@keyframes horizontalRunningPhotos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.M_TagLine {
  display: flex;
  width: auto;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.25rem;
}

.M-FilterAndNumber {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.M_format-filter {
  display: flex;
  align-items: flex-start;
}

.M_TagLine {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.3vw;
  align-self: stretch;
  flex-wrap: wrap;
}
