.W-Header {
  display: flex;
  width: 100%;
  padding: 1.25vw 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.W-HeroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.78vw;

  h1 {
    color: var(--soft-orange);
    text-align: center;
  }
}

.W-DirectionFilter {
  display: flex;
  width: 23vw;
  padding: 1vw;
  flex-direction: column;
  align-items: center;
  gap: 1.4vw;
  border-radius: 1.6vw;
  background: var(--off-white-01);
  &:hover {
    background: var(--soft-orange);
    transition: 0.7s;
  }
}
.W_MainBlock {
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.W_Filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_CollabAvatarsHeadingTag {
  display: flex;
  width: 37.014vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7vw;
}

.W_CollabTagHeading {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.W_FooterWrapper {
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
}

.W_HeadingAuthor {
  display: flex;
  width: 23vw;
  gap: 17.71vw;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.W_ImgChanging {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.85vw;
}

.W_SimmilarTags {
  display: flex;
  width: 23vw;
  gap: 16.41vw;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.W_Similar {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}
.W_TextRead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.W_CoverInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4vw;
  padding: 5vw 6vw 0 6vw; /* top right bottom left */

  h2 {
    width: 30vw;
  }
}

.W_ArticleMenuBox {
  display: flex;
  padding: 1.111vw 0vw;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  align-self: stretch;
  border-radius: 3.333vw;
  /* white */
  box-shadow: -30px -30px 74px 0px rgba(255, 255, 255, 0.5) inset,
    30px 30px 74px 0px rgba(255, 255, 255, 0.5) inset;
}
.W_ArticleMenuBoxBlue {
  background: var(--tiffany-superlight, #e6f8f6);
  box-shadow: -30px -30px 74px 0px rgba(255, 255, 255, 0.5) inset,
    30px 30px 74px 0px rgba(255, 255, 255, 0.5) inset;
}

.W_ArticleMenu {
  display: flex;
  width: 34.236vw;
  height: 17.778vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
