a.A_menu-point {
  text-decoration: none;
  color: #1c1500;
  font-size: 16px;

  &:hover {
    color: rgba(28, 21, 0, 0.6);
  }
}

.A_sendbutton {
  padding: 0;
  background: #fdefa7;
  width: 3vw;
  height: 3vw;
  border: none;
  border-radius: 10vw;
  padding-top: 0.3vw;

  &:active {
    filter: blur(0.1vw);
  }
}

.A_sendbutton2 {
  padding: 0;
  background: #fff;
  width: 3vw;
  height: 3vw;
  border: none;
  border-radius: 10vw;
  padding-top: 0.3vw;

  &:active {
    filter: blur(0.1vw);
  }
}

.O_contentform {
  img {
    width: 20%;
  }
}

.M_formfooter {
  .A_input {
    border: none;
    background: none;
    font-family: 'NonBureau-Regular';
    font-size: 1.3vw;
    color: rgba(28, 21, 0, 0.6);
    width: 10vw;
  }
}

.A_tags {
  gap: 0.5vw;
  display: flex;
  flex-wrap: wrap;
}

.M_article-card {
  img {
    width: 100%;

    &:hover {
      box-shadow: 20px -7px 30px 0px rgba(255, 255, 255, 0.6) inset,
        -6px 6px 20px 0px rgba(255, 255, 255, 0.6) inset;
    }
  }
}
.A_artbox {
  display: flex;
}
