
.M_formfooter {
  width: 15vw;
  background-color: #ffffff;
  border-radius: 10vw;
  display: flex;
  justify-content: space-around;
  padding: 0.5vw;
}

.M_menufooter {
  display: flex;
  gap: 2vw;
}

.M_button-simple {
  width: 18vw;
  height: 4.5vw;
  background: #1c1500;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  color: #f2f2f2;
  text-align: center;
  font-family: 'NonBureau-Regular';
  border: none;
  font-size: 1.5vw;
  align-items: center;

  a {
    text-decoration: none;
    color: #f2f2f2;
  }
  &:hover span {
    display: none;
  }

  &:hover:before {
    content: 'Подписаться в тг';
  }

  &:hover {
    background: rgba(28, 21, 0, 0.6);
  }
}


