.A_Button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    &.disabled {
        opacity: 0.6;
        cursor: default;
    }
    &.primary {
        background-image: url(../../images/header/Q_Search.webp);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.resetField {
        width: 38px;
        height: 38px;
        right: 1%;
        top: 7%;
        background: var(--soft-orange);
        color: var(--dark-brown);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vw;
      }
}