.S_SearchContent{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6vw 1.2vw;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
    padding: 7vw 3vw 0vw 3vw;
}