body.about {
  font-family: 'NonBureau-Regular';
  overflow-x: hidden;
  a {
    text-decoration: none;
  }

  h1 {
    font-size: 12vw;
  }
  h3 {
    font-size: 43px;
  }
  h4 {
    font-size: 2vw;
  }
  h5 {
    font-size: 6vw;
    margin-top: 26vw;
  }

  p {
    font-size: 1.5vw;
    color: rgba(28, 21, 0, 0.6);
  }
  .A_block1 {
    background-image: url(../images/about/aboutback.webp);
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    border-radius: 0vw 0vw 2vw 2vw;

    .text {
      display: flex;
      flex-direction: column;
      width: 40vw;
      text-align: center;
      gap: 1vw;
      margin-top: 8vw;

      .img {
        display: flex;
        gap: 1vw;
        justify-content: center;

        img {
          width: 10%;
        }
      }
    }
  }

  .A_block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin-top: 10vw;

    .text {
      display: flex;
      flex-direction: column;
      width: 40vw;
      text-align: center;
      gap: 1vw;
      gap: 3vw;
    }

    img {
      width: 50%;
    }
  }

  .A_block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin-top: 10vw;
    .background {
      display: flex;
      padding: 2vw;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 99vw;
      min-height: 25rem;
      gap: 3vw;
      border-radius: 2vw;
      background: linear-gradient(
        180deg,
        rgba(253, 239, 167, 0) -42.93%,
        rgba(253, 239, 167, 0.3) 59.07%
      );

      img {
        width: 100%;
      }

      .text {
        display: flex;
        flex-direction: column;
        width: 40vw;
        text-align: center;
        gap: 1vw;
        gap: 3vw;
      }

      .gif {
        position: absolute;
        border-radius: 10vw;
        width: 16%;
        transform: translate(-36vw, 21vw);
      }
      .gif1 {
        transform: translate(36vw, 23vw);
      }

      .gif2 {
        transform: translate(20vw, -6vw);
      }
    }
  }

  .A_block4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    margin-top: 10vw;
    .text {
      display: flex;
      flex-direction: column;
      width: 35vw;
      text-align: center;
      gap: 1vw;
      gap: 3vw;
    }

    .allfaq {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .faq {
        display: flex;
        flex-direction: column;
        padding: 4vw;
        gap: 2vw;
        width: 40vw;
        height: 20vw;
        border-radius: 3vw;
        background: rgba(253, 239, 167, 0.5);
        box-shadow: -4px -4px 10px 0px rgba(255, 255, 255, 0.5) inset,
          4px 4px 10px 0px rgba(255, 255, 255, 0.5) inset;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  body.about {
    p {
      font-size: 2.5vw;
    }
    h4 {
      font-size: 5vw;
    }
    .A_block1 {
      height: 70vw;

      .text {
        width: 83vw;
      }
    }

    .A_block3 {
      .background {
        height: 100vw;
        .text {
          width: 60vw;
          gap: 7vw;
        }
        img {
          width: 92%;
        }
        .gif {
          width: 21%;
          transform: translate(-35vw, 28vw);
        }

        .gif1 {
          width: 21%;
          transform: translate(35vw, 28vw);
        }

        .gif2 {
          display: none;
        }
      }
    }

    .A_block4 {
      gap: 13vw;
      margin-top: 20vw;
      .text {
        width: 60vw;
        gap: 7vw;
      }

      .allfaq {
        .faq {
          min-height: 42vw;
          width: 80vw;
          justify-content: center;
        }
      }
    }
    .S_footer {
      height: 166vw;
      margin-top: 20vw;
    }

    .O_contentform {
      width: 74vw;
      gap: 7vw;
      margin-top: 38vw;
    }

    .A_sendbutton {
      width: 8vw;
      height: 8vw;
    }
    .M_formfooter {
      width: 30vw;
      padding: 01vw;

      .A_input {
        font-size: 3vw;
        width: 19vw;
      }
    }
    .M_menufooter {
      margin-top: 23vw;
    }
  }
}

@media only screen and (max-width: 500px) {
  body.about {
    h1 {
      font-size: 12vw;
    }
    h3 {
      font-size: 7vw;
    }
    h4 {
      font-size: 6vw;
    }
    h5 {
      font-size: 6vw;
      margin-top: 26vw;
    }

    p {
      font-size: 3.5vw;
    }
    .A_block1 {
      background-image: url(../images/about/aboutbackmobile.webp);
      height: 182vw;
      border-radius: 0vw 0vw 4vw 4vw;

      .text {
        width: 83vw;
        margin-top: 50vw;

        .img {
          img {
            width: 15%;
          }
        }
      }
    }
    .A_block2 {
      gap: 13vw;
      margin-top: 20vw;
      .text {
        width: 60vw;
        gap: 7vw;
      }
      img {
        width: 92%;
      }
    }
    .A_block3 {
      gap: 13vw;
      margin-top: 20vw;

      .background {
        gap: 9vw;
        .text {
          width: 60vw;
          gap: 7vw;
        }
        img {
          width: 92%;
        }
        .gif {
          width: 21%;
          transform: translate(-35vw, 36vw);
        }

        .gif1 {
          width: 21%;
          transform: translate(35vw, 36vw);
        }

        .gif2 {
          display: none;
        }
      }
    }

    .A_block4 {
      gap: 13vw;
      margin-top: 20vw;
      .text {
        width: 60vw;
        gap: 7vw;
      }

      .allfaq {
        .faq {
          width: 80vw;
          min-height: 53vw;
          padding: 5vw;
          justify-content: center;
          gap: 2vw;
        }
      }
    }
    .S_footer {
      height: 166vw;
      margin-top: 20vw;
    }

    .O_contentform {
      width: 74vw;
      gap: 7vw;
      margin-top: 38vw;
    }

    .A_sendbutton {
      width: 8vw;
      height: 8vw;
    }
    .M_formfooter {
      width: 30vw;
      padding: 01vw;

      .A_input {
        font-size: 3vw;
        width: 19vw;
      }
    }
    .M_menufooter {
      margin-top: 23vw;
    }
  }
}
