body.main2 {
    display: flex;
    flex-direction: column;
    height: 300vh;
    background: #F0EBFF;
  
  
  
    .first{
      background-image: url(../images/back.png);
      background-size: cover;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      margin-top: 0.5vw;
      width: 99vw;
    height: 98vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  
  
     .anya{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-left: 70vw;
      color: var(--Color-2, #3C3B3B);
      text-align: center;
      
      font-size: 31.306px;
      font-style: normal;
      font-weight: 400;
  
      img{
        width: 60%;
      }
     }
  
     .masha{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-right: 70vw;
      color: var(--Color-2, #3C3B3B);
      text-align: center;
      
      font-size: 31.306px;
      font-style: normal;
      font-weight: 400;
  
      img{
        width: 60%;
      }
     }
  
     h1{
      width: 47vw;
      color: #3C3B3B;
      text-align: center;
      font-family: "PragmaticaMedium";
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%; /* 49.5px */
     }
    }
  
    .menu{
      position: absolute;
      display: flex;
      width: 65%;
      margin-top: -80vh;
      align-items: center;
      font-family: "PragmaticaBook";
      justify-content: space-between;
      color: #292929;
  
      img{
        width: 6vw;
      }
  
      a {
        text-decoration: none;
        color: #292929;
      }
  
        
      }
  
     .second{
      display: flex;
      margin-top: 18vh;
      flex-direction: column;
  
      h1{
              width: 47vw;
              color: #3C3B3B;
              text-align: center;
              font-family: "PragmaticaMedium";
              font-size: 55px;
              font-style: normal;
              font-weight: 400;
              line-height: 90%;
              align-self: center;
      }
  
      .blocks{
        margin-top: 20vh;
        display: inline-flex;
        align-items: center;
        gap: 2vw;
  
        .div1{
  
          display: flex;
          width: 25vw;
          height: 40vh;
          padding: 2vw 4vh;
  
          margin-left: 10vw;
          flex-direction: column;
          align-items: flex-start;
          gap: 2vw;
          flex-shrink: 0;
          border-radius: 23.32px;
          background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);
  
  
          h2{
            color: #292929;
            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
  
  
          img{
            width: 15%;
          }
  
          p{
            color: #797979;
            font-family: "PragmaticaBook";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
  
        }
  
        .div2{
          display: flex;
          width: 25vw;
          height: 40vh;
          padding: 2vw 4vh;
          flex-direction: column;
          align-items: flex-start;
          gap: 2vw;
          flex-shrink: 0;
          border-radius: 23.32px;
          background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);
  
          h2{
            color: #292929;
            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
          p{
            color: #797979;
            font-family: "PragmaticaBook";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
          img{
            width: 15%;
          }
  
        }
  
  
  
        .div3{
  
          display: flex;
          width: 25vw;
          height: 40vh;
          padding: 2vw 4vh;
          flex-direction: column;
          align-items: flex-start;
          gap: 2vw;
          flex-shrink: 0;
          border-radius: 23.32px;
          background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);
  
  
          h2{
            color: #292929;
            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
          p{
            color: #797979;
            font-family: "PragmaticaBook";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
          img{
            width: 15%;
          }
  
  
        }
  
  
      }
  
      .footer{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        margin-top: 20vh;
        align-items: center;
  
        .news{
          width: 25vw;
          height: 10vh;
          display: inline-flex;
          padding: 0.5vw 1vh;
          justify-content: center;
          align-items: center;
          gap: 1vw;
          margin-left: 1vw;
          border-radius: 16px;
          background: #BAA2FF;
          box-shadow: 0px 0px 26.4px 1px rgba(255, 255, 255, 0.87), 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
  
  
          h3{
            color: #FFF;
            font-family: "PragmaticaMedium";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
  
            a{
              color: #6A35FF;
              text-decoration: none
            }
          }
        }
  
        .telegram{
          width: 25vw;
          height: 10vh;
          display: inline-flex;
          padding: 0.5vw 1vh;
          justify-content: center;
          align-items: center;
          gap: 1vw;
          border-radius: 16px;
          background: var(--6-a-35-ff, #6A35FF);
          box-shadow: 0px 0px 26.4px 1px rgba(255, 255, 255, 0.87), 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
  
          h3{
            color: #FFF;
            
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
  
          a{
            img{
              width: 80%;}
          }
  
        }
  
        .gradient{
          z-index: -1;
          position: absolute;
          width: 432px;
          height: 382px;
          flex-shrink: 0;
          border-radius: 406px;
          background: radial-gradient(53.01% 52.98% at 50% 50.33%, rgba(203, 185, 255, 0.80) 1%, rgba(251, 244, 72, 0.80) 41.5%, rgba(255, 121, 59, 0.80) 68%, rgba(203, 185, 255, 0.80) 97%);
          filter: blur(77px);
        }
      }
  
     }
  
  }