body.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vw;
}
.Visual-Fast-Food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
