body.index {
  font-family: 'NonBureau-Regular';
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 12vw;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 6vw;
    margin-top: 26vw;
  }

  p {
    font-size: 18px;
    color: rgba(28, 21, 0, 0.6);
  }

  .I_block1 {
    background-image: url(../images/mainback.webp);
    width: 100%;
    height: 67vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;

    .block {
      display: flex;
      flex-direction: column;

      .promo-cards {
        display: flex;
        justify-content: center;
        transition: all 0.2s ease;
        align-items: center;

        &:hover img:nth-of-type(1) {
          transform: translate(0vw, 2vw) rotate(-15deg);
          transition: all 0.6s ease;
        }
        &:hover img:nth-of-type(3) {
          transform: translate(0vw, 2vw) rotate(15deg);
          transition: all 0.6s ease;
        }

        img {
          border-radius: 1vw;
          transition: all 0.2s ease;
        }
        img:nth-of-type(2) {
          position: relative;
          height: 50%;
          z-index: 1;
          box-shadow: 77px 28px 23px 0px rgba(54, 53, 53, 0),
            49px 18px 21px 0px rgba(54, 53, 53, 0.01),
            28px 10px 18px 0px rgba(54, 53, 53, 0.05),
            12px 4px 13px 0px rgba(54, 53, 53, 0.09),
            3px 1px 7px 0px rgba(54, 53, 53, 0.1);
        }
        img:nth-of-type(1) {
          height: 40%;
          transform: translate(2vw, 2vw) rotate(-15deg);
        }
        img:nth-of-type(3) {
          height: 40%;
          transform: translate(-2vw, 2vw) rotate(15deg);
        }
      }
      .button {
        align-self: center;
        width: 18vw;
        height: 4.5vw;
        background: #1c1500;
        border-radius: 10vw;
        display: flex;
        justify-content: space-between;
        padding: 1vw;
        color: #f2f2f2;
        text-align: center;
        font-family: 'NonBureau-Regular';
        border: none;
        font-size: 1.5vw;
        align-items: center;
      }

      h2 {
        text-align: center;
        width: 32vw;
        font-size: 3vw;
        align-self: center;

        .color {
          color: linear-gradient(120deg, #ffc403 -41.94%, #fff 130.85%);
        }
      }
    }
  }
  .I_block2 {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 3vw;

    .text {
      gap: 2vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 30vw;
    }

    .brands {
      flex-wrap: wrap;
      width: 50vw;
      align-items: center;
      display: flex;
      gap: 0.5vw;
      padding-left: 2vw;
      img {
        width: 15%;
      }
    }
  }
  .I_block3 {
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    display: flex;

    .backgroud {
      display: flex;
      align-items: center;
      width: 98vw;
      height: 40vw;
      border-radius: 1.5vw;
      background: linear-gradient(
        180deg,
        rgba(253, 239, 167, 0) -42.93%,
        rgba(253, 239, 167, 0.5) 59.07%
      );

      .formarcards {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 1vw;

        img {
          width: 25%;
        }
      }
    }
  }
  .I_block4 {
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;

    .overlay {
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 61.1%,
        #fff 110.09%
      );
      width: 67vw;
      height: 60vw;
      margin-top: 15vw;
    }

    .text {
      gap: 2vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 30vw;
    }
  }

  .I_block5 {
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;

    .text {
      gap: 2vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 30vw;
      align-items: center;

      img {
        width: 40%;
      }
    }

    .slider {
      width: 60vw;
    }

    .slide {
      display: flex;
      width: 60vw;
      height: 40vw;
      background: linear-gradient(
        174deg,
        rgba(253, 239, 167, 0.2) -9.51%,
        rgba(242, 12, 181, 0.2) 129.08%
      );
      border-radius: 1.5vw;
      flex-wrap: wrap;
      padding: 3vw;
      justify-content: space-between;
      .avatars {
        width: 10vw;
        height: 35vw;
        gap: 1vw;
        img {
          height: 12%;
        }
      }

      .collabcard {
        display: flex;
        flex-direction: column;
        width: 31vw;
        text-align: center;
        justify-content: center;
        margin-top: -1vw;

        img {
          width: 100%;
        }
        p {
          color: #f20a82;
          font-size: 1.5vw;
          margin-top: 1vw;
          width: 20vw;
          align-self: center;
        }
        button {
          position: absolute;
          width: 8vw;
          height: 4vw;
          background: #f20a82;
          border-radius: 10vw;
          display: flex;
          justify-content: center;
          padding: 0.5vw;
          color: #f2f2f2;
          text-align: center;
          font-family: 'NonBureau-Regular';
          border: none;
          font-size: 1.5vw;
          align-items: center;
          margin-left: -23vw;
          margin-top: 31vw;
        }
      }
    }
    .slide1 {
      display: flex;
      width: 60vw;
      height: 40vw;
      background: linear-gradient(
        174deg,
        rgba(253, 239, 167, 0.2) -9.51%,
        rgba(255, 201, 2, 0.2) 129.08%
      );

      border-radius: 1.5vw;
      flex-wrap: wrap;
      padding: 3vw;
      justify-content: space-between;
      .avatars {
        width: 10vw;
        height: 35vw;
        gap: 1vw;
        img {
          height: 12%;
        }
      }

      .collabcard {
        display: flex;
        flex-direction: column;
        width: 31vw;
        text-align: center;
        justify-content: center;
        margin-top: -1vw;

        img {
          width: 100%;
        }
        p {
          color: #1c1500;
          font-size: 1.5vw;
          margin-top: 1vw;
          width: 20vw;
          align-self: center;
        }
        button {
          position: absolute;
          width: 8vw;
          height: 4vw;
          background: #fff;
          border-radius: 10vw;
          display: flex;
          justify-content: center;
          padding: 0.5vw;
          color: #1c1500;
          text-align: center;
          font-family: 'NonBureau-Regular';
          border: none;
          font-size: 1.5vw;
          align-items: center;
          margin-left: -23vw;
          margin-top: 31vw;
        }
      }
    }
    .slide2 {
      display: flex;
      flex-direction: column;
      width: 60vw;
      height: 40vw;
      background: linear-gradient(
        174deg,
        rgba(253, 239, 167, 0.2) -9.51%,
        rgba(255, 201, 2, 0.2) 129.08%
      );
      align-items: center;
      border-radius: 1.5vw;
      flex-wrap: wrap;
      padding: 3vw;
      justify-content: space-between;
      .avatars {
        display: flex;
        gap: 0.5vw;
        justify-content: center;
        img {
          width: 15%;
        }
      }
      .text {
        gap: 2vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 30vw;
        align-items: center;
      }

      button {
        width: 20vw;
        height: 4vw;
        background: #1c1500;
        border-radius: 10vw;
        display: flex;
        justify-content: center;
        padding: 0.5vw;
        color: #f2f2f2;
        text-align: center;
        font-family: 'NonBureau-Regular';
        border: none;
        font-size: 1.5vw;
        align-items: center;
        &:hover span {
          display: none;
        }

        &:hover:before {
          content: 'Подписаться в тг';
        }

        &:hover {
          background: rgba(28, 21, 0, 0.6);
        }
      }
    }
  }

  .I_block6 {
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;

    .text {
      gap: 2vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 30vw;
      align-items: center;
    }

    .button {
      display: none;
    }

    .QR-code {
      width: 20%;
    }

    .telegramprom {
      display: flex;
      margin-top: 6vw;
      margin-bottom: 6vw;
      .post-card {
        display: flex;
        flex-direction: column;
        width: 16vw;
        gap: 0.5vw;
        .top {
          display: flex;
          gap: 0.5vw;
          align-items: center;
        }
      }
      .post-card:nth-of-type(1) {
        transform: translate(4vw, -6vw) rotate(-7deg);
      }
      .post-card:nth-of-type(2) {
        transform: translate(7vw, 0vw) rotate(10deg);
      }
      .post-card:nth-of-type(3) {
        transform: translate(-8vw, 18vw);
      }
      .post-card:nth-of-type(4) {
        transform: translate(-3vw, 1vw) rotate(6deg);
      }
      .post-card:nth-of-type(5) {
        transform: translate(5vw, -10vw) rotate(6deg);
      }
      .post-card:nth-of-type(6) {
        transform: translate(-5vw, 23vw) rotate(-6deg);
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  body.index {
    .shadow {
      display: none;
    }
    h1 {
      font-size: 12vw;
    }
    h2 {
      font-size: 8vw;
    }
    h3 {
      font-size: 4vw;
    }

    h5 {
      font-size: 6vw;
      margin-top: 26vw;
    }

    p {
      font-size: 3vw;
    }

    .I_block2 {
      gap: 6vw;
      .text {
        width: 61vw;
      }
      .brands {
        width: 80vw;
      }
    }

    .I_block4 {
      margin-top: 17vw;
      gap: 5vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
      .overlay {
        display: none;
      }
      .M_button-simple {
        width: 23vw;
        height: 0.5vw;
        background: #1c1500;
        padding: 3vw;
        color: #f2f2f2;
        font-size: 2vw;
      }
      .S_cards {
        .O_lil-cards {
          flex-wrap: wrap;
          justify-content: center;
          gap: 2vw;
        }

        .O_selected-cards {
          flex-wrap: wrap;
          justify-content: center;
          gap: 3vw;
        }
      }
      .M_article-card {
        width: 35vw;
        gap: 3vw;
      }
      .Q_tag {
        font-size: 2vw;
        height: 4vw;
        padding: 3vw;
      }
      .M_selected-card {
        display: flex;
        flex-direction: column;
        width: 72vw;
        gap: 3vw;
        color: #1c1500;
      }
    }

    .I_block5 {
      margin-top: 30vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
      .slider {
        width: 90vw;
        height: 60vw;
      }

      .slide {
        display: flex;
        width: 60vw;
        height: 60vw;
        padding: 3vw;

        .avatars {
          width: 20vw;
          height: 35vw;
          gap: 1vw;
          img {
            height: 20%;
          }
        }

        .collabcard {
          width: 50vw;

          button {
            width: 10vw;
            height: 5vw;
            margin-left: -33vw;
            margin-top: 42vw;
            font-size: 2vw;
          }

          p {
            font-size: 2vw;
          }
        }
      }
      .slide1 {
        display: flex;
        width: 60vw;
        height: 60vw;

        .avatars {
          width: 20vw;
          height: 35vw;
          gap: 1vw;
          img {
            height: 20%;
          }
        }

        .collabcard {
          width: 50vw;

          img {
            width: 100%;
          }

          button {
            width: 10vw;
            height: 5vw;
            margin-left: -33vw;
            margin-top: 42vw;
            font-size: 2vw;
          }

          p {
            font-size: 2vw;
          }
        }
      }
      .slide2 {
        width: 60vw;
        height: 60vw;
        gap: 2vw;
        .avatars {
          display: flex;
          gap: 0.5vw;
          justify-content: center;
          img {
            width: 15%;
          }
        }
        .text {
          width: 55vw;
        }

        button {
          width: 26vw;
          height: 5vw;
          background: #1c1500;
          border-radius: 10vw;
          display: flex;
          justify-content: center;
          padding: 0.5vw;
          color: #f2f2f2;
          text-align: center;
          font-family: 'NonBureau-Regular';
          border: none;
          font-size: 2vw;
          align-items: center;
          &:hover span {
            display: none;
          }

          &:hover:before {
            content: 'Подписаться в тг';
          }

          &:hover {
            background: rgba(28, 21, 0, 0.6);
          }
        }
      }
    }

    .I_block6 {
      margin-top: 30vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
      .button {
        align-self: center;
        width: 18vw;
        height: 4.5vw;
        background: #1c1500;
        border-radius: 10vw;
        display: flex;
        justify-content: center;
        padding: 1vw;
        color: #f2f2f2;
        text-align: center;
        font-family: 'NonBureau-Regular';
        border: none;
        font-size: 1.5vw;
        align-items: center;
      }
      .QR-code {
        display: none;
      }
      .telegramprom {
        flex-direction: column;
        margin-top: 26vw;
        margin-bottom: 46vw;
        .post-card:nth-of-type(1) {
          width: 65vw;
        }
        .post-card:nth-of-type(3) {
          transform: translate(0vw, 76vw) rotate(4deg);
          width: 80vw;
        }
        .post-card:nth-of-type(6) {
          transform: translate(0vw, -39vw) rotate(-6deg);
          width: 73vw;
        }
        .post-card:nth-of-type(2) {
          display: none;
        }
        .post-card:nth-of-type(4) {
          display: none;
        }
        .post-card:nth-of-type(5) {
          display: none;
        }
      }
    }

    .S_footer {
      height: 166vw;
      margin-top: 20vw;
      background-image: url(../images/FooterMobile.webp);
    }

    .O_contentform {
      width: 74vw;
      gap: 7vw;
      margin-top: 38vw;
    }

    .A_sendbutton {
      width: 8vw;
      height: 8vw;
    }
    .M_formfooter {
      width: 30vw;
      padding: 01vw;

      .A_input {
        font-size: 3vw;
        width: 19vw;
      }
    }
    .M_menufooter {
      margin-top: 23vw;
    }
  }
}
@media only screen and (max-width: 500px) {
  body.index {
    h1 {
      font-size: 12vw;
    }
    h2 {
      font-size: 8vw;
    }
    h3 {
      font-size: 6vw;
    }
    h4 {
      font-size: 4vw;
    }
    h5 {
      font-size: 6vw;
      margin-top: 26vw;
    }

    p {
      font-size: 4vw;
    }

    .I_block1 {
      background-image: url(../images/hero-screen.webp);
      height: 184vw;
      border-radius: 0% 0% 5% 5%;
      .block {
        margin-top: 60vw;
        gap: 6vw;
        h2 {
          text-align: center;
          width: 74vw;
          font-size: 7vw;
          align-self: center;
        }
        .promo-cards {
          display: none;
        }
        .button {
          width: 46vw;
          height: 11.5vw;
          background: #1c1500;
          padding: 3vw;
          color: #f2f2f2;
          font-size: 3.5vw;
          .A_sendbutton2 {
            width: 7vw;
            height: 7vw;
            border: none;
            border-radius: 10vw;
            padding-top: 0.3vw;
          }
        }
      }
    }
    .I_block2 {
      gap: 9vw;
      .brands {
        width: 90vw;
        justify-content: center;

        img {
          width: 35%;
        }
      }
      margin-top: 17vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
    }

    .I_block3 {
      margin-top: 17vw;
      .backgroud {
        height: 370vw;
        .formarcards {
          flex-direction: column;
          gap: 3vw;

          img {
            width: 93%;
          }
        }
      }
    }

    .I_block4 {
      margin-top: 17vw;
      gap: 9vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
      .overlay {
        display: none;
      }
      .M_button-simple {
        width: 46vw;
        height: 11.5vw;
        background: #1c1500;
        padding: 3vw;
        color: #f2f2f2;
        font-size: 3.5vw;
      }
      .S_cards {
        .O_lil-cards {
          flex-wrap: wrap;
          justify-content: center;
          gap: 2vw;
        }

        .O_selected-cards {
          flex-wrap: wrap;
          justify-content: center;
          gap: 3vw;
        }
      }
      .M_article-card {
        width: 45vw;
        gap: 3vw;
      }
      .Q_tag {
        font-size: 12px;
        height: 8vw;
        padding: 4vw;
      }
      .M_selected-card {
        display: flex;
        flex-direction: column;
        width: 92vw;
        gap: 3vw;
        color: #1c1500;
      }
    }

    .I_block5 {
      margin-top: 30vw;
      gap: 7vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
    }

    .I_block6 {
      margin-top: 30vw;
      .text {
        width: 70vw;
        gap: 6vw;
      }
      .button {
        width: 46vw;
        height: 11.5vw;
        background: #1c1500;
        padding: 3vw;
        color: #f2f2f2;
        font-size: 3.5vw;
        align-self: center;
        border-radius: 10vw;
        display: flex;
        justify-content: space-between;
        text-align: center;
        border: none;
        align-items: center;
        .A_sendbutton2 {
          width: 7vw;
          height: 7vw;
          padding: 1.5vw 1vw 1vw 1.5vw;
          background: #fff;
          border: none;
          border-radius: 10vw;
          display: flex;

          img {
            width: 90%;
          }
        }
      }
      .QR-code {
        display: none;
      }
      .telegramprom {
        flex-direction: column;
        margin-top: 26vw;
        margin-bottom: 46vw;
        .post-card:nth-of-type(1) {
          width: 65vw;
        }
        .post-card:nth-of-type(3) {
          transform: translate(0vw, 76vw) rotate(4deg);
          width: 80vw;
        }
        .post-card:nth-of-type(6) {
          transform: translate(0vw, -39vw) rotate(-6deg);
          width: 73vw;
        }
        .post-card:nth-of-type(2) {
          display: none;
        }
        .post-card:nth-of-type(4) {
          display: none;
        }
        .post-card:nth-of-type(5) {
          display: none;
        }
      }
    }

    .S_footer {
      height: 166vw;
      margin-top: 20vw;
      background-image: url(../images/FooterMobile.webp);
    }

    .O_contentform {
      width: 74vw;
      gap: 7vw;
      margin-top: 38vw;
    }

    .A_sendbutton {
      width: 8vw;
      height: 8vw;
    }
    .M_formfooter {
      width: 30vw;
      padding: 01vw;

      .A_input {
        font-size: 3vw;
        width: 19vw;
      }
    }
    .M_menufooter {
      margin-top: 23vw;
    }
  }
}
