.Main-Page {
  background-image: url(/src/images/main-page/Q_background.png);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: auto;
  gap: 1.5vw;
  justify-content: flex-start;
}
