:root {
  --off-white: hsla(0, 0%, 100%, 1);
  --off-white-01: hsla(0, 0%, 95%, 1);
  --off-white-02: hsla(0, 0%, 95%, 1);
  --grey: hsla(0, 0%, 98%, 1);
  --dark-brown: hsla(45, 100%, 5%, 1);
  --dark-brown-60: hsla(45, 100%, 5%, 0.6);
  --orange: hsla(46, 100%, 51%, 1);
  --soft-orange: hsla(50, 96%, 82%, 1);
  --soft-orange-halftone: hsla(50, 96%, 91%, 1);
  --soft-orange-50: hsla(47, 99%, 72%, 1);

  --xoxo: hsla(328, 79%, 58%, 1);
  --xoxo-text: hsla(328, 88%, 34%, 1);
  --xoxo-20: hsla(328, 83%, 56%, 0.2);
  --xoxo-light: hsla(328, 82%, 91%, 1);
  --xoxo-superlight: hsla(330, 53%, 93%, 1);

  --tiffany-superlight: hsla(173, 56%, 94%, 1);
  --tiffany-light: hsla(175, 53%, 86%, 1);
  --tiffany-dark: hsla(174, 61%, 50%, 1);

  --oem-halftone: hsla(32, 100%, 55%, 0.5);
  --oem: hsla(32, 100%, 55%, 1);
  --oem-superlight: hsla(14, 100%, 92%, 1);

  --balencidada-black: hsla(0, 0%, 3%, 1);
  --balencidada-grey: hsla(240, 3%, 70%, 1);
  --balencidada-superlight: hsla(0, 0%, 90%, 1);
}
