<div class="W_FooterWrapper">
    <div class="S_FooterDesktop">
      <div class="M_FooterText">
        <img
          class="A_LogoFooter"
          src="https://raw.githubusercontent.com/HSEADC/secret-sauce/refs/heads/main/src/images/footer/logofooter.webp"
          alt=""
        />
        <h2>Есть идея!</h2>
        <p class="p2">
          Если тебе есть что рассказать и&nbsp;показать по&nbsp;теме
          медиа&nbsp;&mdash; оставь свой ник в&nbsp;Telegram.
        </p>
        <form
          id="my-form"
          class="M_formfooter"
          action="https://formspree.io/f/mpwavbpj"
          method="POST"
        >
          <div class="M_InputWrapper">
            <input
              class="A_Input"
              type="email"
              name="email"
              placeholder="@mysupertg"
            />
            <button class="A_SendButton" id="my-form-button">
              <img
                src="https://raw.githubusercontent.com/HSEADC/secret-sauce/refs/heads/main/src/images/telegram/Q_SendButton.webp"
                alt="Отправить"
              />
            </button>
          </div>
          <p id="my-form-status"></p>
        </form>
      </div>
      <div class="M_MenuFooter">
        <a class="A_Menu-Point" href="https://hseadc.github.io/secret-sauce/"><p class="p3">Главная</p></a>
        <a class="A_Menu-Point" href="https://hseadc.github.io/secret-sauce/articles.html"><p class="p3">Статьи</p></a>
        <a class="A_Menu-Point" href="https://hseadc.github.io/secret-sauce/collaborations.html"><p class="p3">Коллаборации</p></a>
        <a class="A_Menu-Point" href="https://hseadc.github.io/secret-sauce/about.html"><p class="p3">О&nbsp;нас</p></a>
        <a class="A_Menu-Point" href="https://hseadc.github.io/secret-sauce/styleguide.html" ><p class="p3">Стайлгайд</p></a>
        <a class="A_Menu-Point" href="https://t.me/secretsausemd"><p class="p3">TG канал</p></a>
      </div>
    </div>
  </div>