/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --white: white;
  --black: black;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url(fonts/bda7a6c7cac36b22a349.woff2) format('woff2'),
    url(fonts/71b6bd99d93559d9961e.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url(fonts/51b7ac2a32dbd9f9a8b4.woff2) format('woff2'),
    url(fonts/c8b6805d45082a7a786f.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url(fonts/942457a32664c9562464.woff2) format('woff2'),
    url(fonts/dab54de622fa055f7799.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url(fonts/b951c0ef88c8e40c8a76.woff2) format('woff2'),
    url(fonts/3028ce7836cd978b7d1f.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Coolvetica;
  src: url(fonts/7838d1d1b17982780b8f.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans_Web_Regular';
  src: url(fonts/983a32f60c185f37dab7.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html, body{
  cursor: url(images/c29a4d118555d1b5967e.png), default;
}
body.index {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F0EBFF;
  font-family: "PragmaticaMedium";

  .main{
    width: 99%;
    height: 99%;
    border-radius: 20px;
    background: radial-gradient(70.1% 70.1% at 50% 47.98%, #AC90FD 0%, #6A35FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    .gif{
      position: absolute;
      border-radius: 2vw;
      margin-left: 70vw;
      margin-top: -20vh;
    }
    .gif1{
      position: absolute;
      border-radius: 2vw;
      margin-right: 70vw;
      margin-top: -20vh;
    }

    .text{
      display: flex;
      width: 548px;
      flex-direction: column;
      margin-top: -20vh;
    }



      h1{
        color: #FFF;
        text-align: center;
        
        font-size: 160px;
        font-style: normal;
        font-weight: 400;
        line-height: 60%;
        }

        p{
          color: #FFF;
        text-align: center;
        font-family: "PT_Sans_Web_Regular";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        margin-top: 5vh;
        }

        .cursor-trail {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 99;
        }

        .item {
          position: absolute;
          width: 150px;
          height: 200px;
          overflow: hidden;
        }

        .item img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }



  }

  .menu{
    position: absolute;
    display: flex;
    width: 95%;
    height: 15%;
    padding: 8px;
    justify-content: center;
    gap: 0.2vw;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    margin-top: 80vh;
    align-items: center;
    font-family: "PragmaticaMedium";

    .adapt{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95%;
      width: 25%;
      gap: 0.5vw;

      .logo{
        display: flex;
        height: 95%;
        width: 45%;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;

        border-radius: 20px;
        background: var(--Linear, linear-gradient(90deg, #B59BFF 0%, #CDBBFF 100%));

        img{
          width: 90%;
        }
      }
      .about{
        width: 50%;
        height: 95%;
        flex-shrink: 0;
        border-radius: 20px;
        overflow: hidden;
        background-image: url(images/3cb660ce00d853cebfc8.png);
        background-size: cover;
        background-position: right;
        a {
          text-decoration: none;
          color: var(--9672-ff, #9672FF);
          font-family: "PragmaticaMedium";
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: 80%;
          text-transform: lowercase;
          margin-left: 1vw;
          margin-top: 0;
         }

        


      }

    }




    .form{
      height: 95%;
      width: 75%;
      flex-shrink: 0;
      border-radius: 20px;
      background: #EAE3FF;
      justify-content: space-between;
      display: flex;
      align-items: center;

      p{
        color: var(--9672-ff, #9672FF);
        font-family: "PragmaticaMedium";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 80%;
        text-transform: lowercase;
        margin-left: 1vw;
        margin-top: 0;
      }



      .form1{
        height: 90%;
        width: 60%;
        outline: none;

        .input{
          stroke-width: 0;
          background: #FCFAFF;

        }

        input{
          border-radius: 1vw;
          
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          font-family: "PragmaticaMedium";
          line-height: 115%; /* 34.5px */
          width: 70%;
          height: 100%;
          padding: 0 20px;
          margin: 0;
          box-sizing: border-box;
          stroke-width: 0;
          border: none;

          &::placeholder {
            color: #B59BFF;
          }
        }





        button{
          border-radius: 1vw;
          
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          background: var(--6-a-35-ff, #6A35FF);
          color: #FFF;
          border: none;
          width: 28%;
          height: 100%;


        }



      }
    }
  }
}

body.main2 {
    display: flex;
    flex-direction: column;
    height: 300vh;
    background: #F0EBFF;
  
  
  
    .first{
      background-image: url(images/49bc0f56a0cc2918dd3f.png);
      background-size: cover;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      margin-top: 0.5vw;
      width: 99vw;
    height: 98vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  
  
     .anya{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-left: 70vw;
      color: var(--Color-2, #3C3B3B);
      text-align: center;
      
      font-size: 31.306px;
      font-style: normal;
      font-weight: 400;
  
      img{
        width: 60%;
      }
     }
  
     .masha{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-right: 70vw;
      color: var(--Color-2, #3C3B3B);
      text-align: center;
      
      font-size: 31.306px;
      font-style: normal;
      font-weight: 400;
  
      img{
        width: 60%;
      }
     }
  
     h1{
      width: 47vw;
      color: #3C3B3B;
      text-align: center;
      font-family: "PragmaticaMedium";
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 90%; /* 49.5px */
     }
    }
  
     .menu2{
      position: absolute;
      display: flex;
      width: 30%;
      height: 10%;
      padding: 8px;
      justify-content: center;
      gap: 5px;
      flex-shrink: 0;
      margin-top: -85vh;
      align-items: center;
  
  
  
      .logoabout{
        display: flex;
        width: 40%;
        height: 100%;
        padding: 11.2px 16.8px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        border-radius: 14px;
        background: var(--Linear, linear-gradient(90deg, #B59BFF 0%, #CDBBFF 100%));
  
        img{
          width: 90%;
        }
      }
  
      .tomain{
        display: flex;
        width: 60%;
        height: 100%;
        padding: 10px 16.316px 17px 17.684px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: #EAE3FF;
        box-shadow: 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
        color: var(--9672-ff, #9672FF);
        text-align: center;
        
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 34.5px */
        text-transform: lowercase;
  
        a { color: var(--9672-ff, #9672FF);
          text-decoration: none;
          font-family: "PragmaticaMedium";
         }
  
      }
  
  
  
     }
  
     .second{
      display: flex;
      margin-top: 18vh;
      flex-direction: column;
  
      h1{
              width: 47vw;
              color: #3C3B3B;
              text-align: center;
              font-family: "PragmaticaMedium";
              font-size: 55px;
              font-style: normal;
              font-weight: 400;
              line-height: 90%;
              align-self: center;
      }
  
      .blocks{
        margin-top: 20vh;
        display: inline-flex;
        align-items: center;
        gap: 2vw;
  
        .div1{
  
          display: flex;
          width: 25vw;
          height: 40vh;
          padding: 2vw 4vh;
  
          margin-left: 10vw;
          flex-direction: column;
          align-items: flex-start;
          gap: 2vw;
          flex-shrink: 0;
          border-radius: 23.32px;
          background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);
  
  
          h2{
            color: #292929;
            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
  
  
          img{
            width: 15%;
          }
  
          p{
            color: #797979;
            font-family: "PT_Sans_Web_Regular";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
  
        }
  
        .div2{
          display: flex;
          width: 25vw;
          height: 40vh;
          padding: 2vw 4vh;
          flex-direction: column;
          align-items: flex-start;
          gap: 2vw;
          flex-shrink: 0;
          border-radius: 23.32px;
          background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);
  
          h2{
            color: #292929;
            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
          p{
            color: #797979;
            font-family: "PT_Sans_Web_Regular";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
          img{
            width: 15%;
          }
  
        }
  
  
  
        .div3{
  
          display: flex;
          width: 25vw;
          height: 40vh;
          padding: 2vw 4vh;
          flex-direction: column;
          align-items: flex-start;
          gap: 2vw;
          flex-shrink: 0;
          border-radius: 23.32px;
          background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);
  
  
          h2{
            color: #292929;
            
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
          p{
            color: #797979;
            font-family: "PT_Sans_Web_Regular";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
  
          img{
            width: 15%;
          }
  
  
        }
  
  
      }
  
      .footer{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        margin-top: 20vh;
        align-items: center;
  
        .news{
          width: 25vw;
          height: 10vh;
          display: inline-flex;
          padding: 0.5vw 1vh;
          justify-content: center;
          align-items: center;
          gap: 1vw;
          margin-left: 1vw;
          border-radius: 16px;
          background: #BAA2FF;
          box-shadow: 0px 0px 26.4px 1px rgba(255, 255, 255, 0.87), 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
  
  
          h3{
            color: #FFF;
            font-family: "PragmaticaMedium";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
  
            a{
              color: #6A35FF;
              text-decoration: none
            }
          }
        }
  
        .telegram{
          width: 25vw;
          height: 10vh;
          display: inline-flex;
          padding: 0.5vw 1vh;
          justify-content: center;
          align-items: center;
          gap: 1vw;
          border-radius: 16px;
          background: var(--6-a-35-ff, #6A35FF);
          box-shadow: 0px 0px 26.4px 1px rgba(255, 255, 255, 0.87), 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
  
          h3{
            color: #FFF;
            
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
  
          a{
            img{
              width: 80%;}
          }
  
        }
  
        .gradient{
          z-index: -1;
          position: absolute;
          width: 432px;
          height: 382px;
          flex-shrink: 0;
          border-radius: 406px;
          background: radial-gradient(53.01% 52.98% at 50% 50.33%, rgba(203, 185, 255, 0.80) 1%, rgba(251, 244, 72, 0.80) 41.5%, rgba(255, 121, 59, 0.80) 68%, rgba(203, 185, 255, 0.80) 97%);
          filter: blur(77px);
        }
      }
  
     }
  
  }
body.main3{
    display: flex;
    flex-direction: column;
    height: 420vh;
    background: #F0EBFF;

    h1{
      font-family: "PragmaticaMedium";
    }
  
    .menu2{
      position: absolute;
      display: flex;
      width: 30%;
      height: 10%;
      padding: 8px;
      justify-content: center;
      gap: 5px;
      flex-shrink: 0;
      margin-top: 1vh;
      align-items: center;
      align-self: center;
  
  
  
      .logoabout{
        display: flex;
        width: 40%;
        height: 100%;
        padding: 11.2px 16.8px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        border-radius: 14px;
        background: var(--Linear, linear-gradient(90deg, #B59BFF 0%, #CDBBFF 100%));
  
        img{
          width: 90%;
        }
      }
  
      .tomain{
        display: flex;
        width: 60%;
        height: 100%;
        padding: 10px 16.316px 17px 17.684px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: #fefefe;
        box-shadow: 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
        color: var(--9672-ff, #9672FF);
        text-align: center;
        
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 34.5px */
        text-transform: lowercase;
  
        a { color: var(--9672-ff, #9672FF);
          text-decoration: none;
          font-family: "PragmaticaMedium";
         }
  
      }
  
  
  
     }
  
  
  
  .articles1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
  
    img{
      width: 80%;
      align-self: center;
    }
  
    .inf{
      display: flex;
      justify-content: center;
      margin-top: 5vh;
  
  
      .text{
        display: flex;
        flex-direction: column;
  
       h1{
        color: var(--black-black-text, #151515);
        
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
       }
  
       p{
        color: var(--black-black-text, #151515);
        font-family: "PT_Sans_Web_Regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 5vh;
       }
  
      }
  
    }
  
    .teg{
  
      display: flex;
      flex-direction: column;
  
      .teg1{
        width: 8vw;
        height: 7vh;
        padding: 1vw 1vh;
        text-align: center;
        margin-top: 1vh;
        margin-left: 5vw;
        border-radius: 24px;
        background:  #FFF;
        color: var(--black-black-text, #151515);
        font-family: "PT_Sans_Web_Regular";
        font-size: 1.3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  
  
  
  
  }
  
  .articles2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
    margin-left: 24vw;
  
  
  
    h1{
      color: var(--black-black-text, #151515);
      
      font-size: 3vw;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
    }
  
    p{
      color: var(--black-black-text, #151515);
      font-family: "PT_Sans_Web_Regular";
      font-size: 1vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 40vw;
      margin-top: 5vh;
    }
  
    .imgart{
      display: inline-flex;
      align-items: center;
      gap: 12px;
      margin-top: 5vh;
  
      img{
        width: 30%;
      }
    }
  
  
  
  
  }
  
  .footer2{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    margin-top: 20vh;
    align-items: center;
  
  
    .telegram2{
      width: 25vw;
      height: 10vh;
      display: inline-flex;
      padding: 1vw 1vh;
      justify-content: center;
      align-items: center;
  
      border-radius: 16px;
      background: var(--6-a-35-ff, #6A35FF);
      box-shadow: 0px 0px 26.4px 1px rgba(255, 255, 255, 0.87), 8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset, -6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;
  
      h3{
        color: #FFF;
        font-family: "PragmaticaMedium";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
  
      }
  
      a{
        img{
          width: 50%;
        }
      }
  
  
    }
  
    .gradient2{
      z-index: -1;
      position: absolute;
      width: 432px;
      height: 382px;
      flex-shrink: 0;
      border-radius: 406px;
      background: radial-gradient(53.01% 52.98% at 50% 50.33%, rgba(203, 185, 255, 0.80) 1%, rgba(251, 244, 72, 0.80) 41.5%, rgba(255, 121, 59, 0.80) 68%, rgba(203, 185, 255, 0.80) 97%);
      filter: blur(77px);
    }
  }
  
  
  
  }
@media screen and (min-width: 1921px) {
  
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

@media screen and (min-width: 769px){

}

@media screen and (max-width: 480px){

    body.index {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: 200vh;
      
        .main{
          width: 99%;
          height: 99vh;
          margin-top: 0.5vh;

          .gif{
            border-radius: 4vw;
            margin-left: -3vw;
            margin-top: 10vh;
            width: 36vw;
          }

          .gif1{
            display: none;
          }
      
          .text{
            display: flex;
            width: 400px;
            flex-direction: column;
            margin-top: -63vh;
          }
      
      
      
            h1{

              font-size: 75px;
              
              }
      
              p{
              font-size: 19px;
              margin-top: 4vh;
              }
      
      
      
        }
      
        .menu{
          width: 95%;
          height: 20%;
          flex-direction: column;
          background: none;
          
      
          .adapt{
            height: 35%;
            width: 100%;
            gap: 1vw;
            margin-bottom: 27vh;
      
            .logo{
              display: flex;
              width: 45%;
              height: 225%;
        
              img{
                width: 90%;
              }
            }

            .about{
              width: 50%;
              height: 225%;
              a {
                text-decoration: none;
               }
        
              p{
                font-size: 30px;
              }
        
        
            }
      
          }
      
      
          
      
          .form{
            height: 95%;
            width: 105%;
            background: none;
            margin-bottom: -44vh;
            flex-direction: column;
    
      
      
      
            .form1{
                height: 96%;
                width: 103%;
                margin-top: 4vh;
                align-self: center;
                margin-left: 31vw;
      
              .input{
                stroke-width: 0;
                background: #FCFAFF;
      
              }
      
              input{
                font-size: 30px;
                width: 70%;
                height: 100%;
      
                
              }
      
      
      
      
      
              button{
                color: #FFF;
                border: none;
                width: 70%;
                height: 100%;
                margin-top: 1vh;
                border-radius: 2vw;
      
      
              }
      
      
      
            }
          }
        }
      }

    
    body.main2 {
        display: flex;
        flex-direction: column;
        height: 300vh;
        background: #F0EBFF;
        border-radius: 2vw;
      
      
      
        .first{
          height: 99vh;
         
      
      
      
         .anya{ 
          margin-top: 60vh;

          p{
            text-align: center;
            font-family: "PragmaticaMedium";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: var(--Color-2, #3C3B3B);
        }
          
      
          img{
            width: 100%;
          }
         }
      
         .masha{
          margin-top: 60vh;
          
          p{
            text-align: center;
            font-family: "PragmaticaMedium";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: var(--Color-2, #3C3B3B);
        }
      
          img{
            width: 100%;
          }
         }
      
         h1{
            font-size: 38px;
            width: 71vw;
         }

        }
      
         .menu2{
         width: 81%;
      
      
      
          .logoabout{
            display: flex;
            width: 40%;
            height: 100%;
            padding: 11.2px 16.8px;
            justify-content: center;
            align-items: center;
            gap: 7px;
            border-radius: 14px;
            background: var(--Linear, linear-gradient(90deg, #B59BFF 0%, #CDBBFF 100%));
      
            img{
              width: 90%;
            }
          }
      
          .tomain{
            width: 60%;
        
      
            
      
          }
      
      
      
         }
      
         .second{
          display: flex;
          margin-top: 18vh;
          flex-direction: column;
          height: 100vh;

          h1{
            font-size: 38px;
             width: 71vw;
         }
      
          .blocks{
            margin-top: 6vh;
            display: inline-flex;
            align-items: center;
            gap: 2vw;
            flex-direction: column;
      
            .div1{
                width: 85vw;
                height: 44vh;
                padding: 8vw 4vh;
                margin-left: 0vw;
                
              h2{
                color: #292929;
                font-family: "PragmaticaMedium";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
              }
      
      
              img{
                width: 15%;
              }
      
              p{
                color: #797979;
                font-family: "PT Sans Caption";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
      
      
            }
      
            .div2{
                width: 85vw;
                height: 44vh;
                padding: 8vw 4vh;
                margin-left: 0vw;
                
      
              h2{
                color: #292929;
                font-family: "PragmaticaMedium";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
              }
              p{
                color: #797979;
                font-family: "PT Sans Caption";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
      
              img{
                width: 15%;
              }
      
            }
      
      
      
            .div3{
                width: 85vw;
                height: 44vh;
                padding: 8vw 4vh;
                margin-left: 0vw;

              h2{
                color: #292929;
                font-family: "PragmaticaMedium";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
              }
              p{
                color: #797979;
                font-family: "PT Sans Caption";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
      
              img{
                width: 15%;
              }
      
      
            }
      
      
          }
      
          .footer{
            flex-direction: column;
            gap: 2vh;
      
            .news{
              width: 84vw;
    
            }
      
            .telegram{
              width: 84vw;
              
              img{
                width: 67%;
              }

              h3{
                margin-left: 10vw;
              }

            }
      
            
          }
      
         }
      
      }


      body.main3{
        display: flex;
        flex-direction: column;
        height: 420vh;
        background: #F0EBFF;
      
        .menu2{
            width: 81%;
      
      
      
          .logoabout{
            display: flex;
            width: 40%;
            height: 100%;
            padding: 11.2px 16.8px;
            justify-content: center;
            align-items: center;
            gap: 7px;
            border-radius: 14px;
            background: var(--Linear, linear-gradient(90deg, #B59BFF 0%, #CDBBFF 100%));
      
            img{
              width: 90%;
            }
          }
      
          .tomain{
            width: 60%;
      
           
      
          }
      
      
      
         }
      
      
      
      .articles1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15vh;

      
        img{
          width: 98%;
          
        }
      
        .inf{

          margin-left: 6vw;
          margin-top: 5vh;
          flex-direction: column;
          width: 90vw;
      
      
          .text{
            display: flex;
            flex-direction: column;
      
           h1{
            color: var(--black-black-text, #151515);
            font-family: "PragmaticaMedium";
            font-size: 8vw;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
           }
      
           p{
            color: var(--black-black-text, #151515);
            font-family: "PT Sans Caption";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 5vh;
           }
      
          }
      
        }

        .teg{
            flex-direction: row;
            gap: 2vw;


            .teg1{
                width: 18vw;
                height: 5vh;
                padding: 2vw 1vh;
                text-align: center;
                /* margin-top: 1vh; */
                margin-left: 0vw;
                border-radius: 24px;
                /* background: #FFF; */
                color: var(--black-black-text, #151515);
                font-family: "PT Sans Caption";
                font-size: 2.3vw;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            
            
            }
        }
      
        
      
      .articles2{
        margin-left: 6vw;
      
      
      
        h1{
          color: var(--black-black-text, #151515);
          font-family: "PragmaticaMedium";
          font-size: 7vw;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          width: 91vw;
        }
      
        p{
            font-size: 3vw;
            width: 87vw;
        }
      
        .imgart{
          display: inline-flex;
          align-items: center;
          gap: 12px;
          margin-top: 5vh;
      
          img{
            width: 45%;
          }
        }
      
      
      
      
      }
      
      .footer2{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        margin-top: 20vh;
        align-items: center;
      
      
        .telegram2{
            width: 84vw;
            
          h3{
            margin-left: 10vw;
      
          }
      
          a{
            img{
                width: 67%;

            }
          }
      
      
        }
      
        .gradient2{
          z-index: -1;
          position: absolute;
          width: 432px;
          height: 382px;
          flex-shrink: 0;
          border-radius: 406px;
          background: radial-gradient(53.01% 52.98% at 50% 50.33%, rgba(203, 185, 255, 0.80) 1%, rgba(251, 244, 72, 0.80) 41.5%, rgba(255, 121, 59, 0.80) 68%, rgba(203, 185, 255, 0.80) 97%);
          filter: blur(77px);
        }
      }
      
      
      
      }

    
}
h2{color:#292929;font-family:Coolvetica;font-size:32px;font-style:normal;font-weight:400;line-height:100%}p{color:#797979;font-family:"PT Sans Caption";font-size:15px;font-style:normal;font-weight:400;line-height:normal}img{width:15%}.div3{display:flex;width:25vw;height:40vh;padding:2vw 4vh;flex-direction:column;align-items:flex-start;gap:2vw;flex-shrink:0;border-radius:23.32px;background:radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.2) 0%, rgba(247, 137, 65, 0.2) 25.5%, rgba(174, 146, 255, 0.2) 100%);}.div3 h2{color:#292929;font-family:Coolvetica;font-size:32px;font-style:normal;font-weight:400;line-height:100%}.div3 p{color:#797979;font-family:"PT Sans Caption";font-size:15px;font-style:normal;font-weight:400;line-height:normal}.div3 img{width:15%}.footer{display:flex;justify-content:center;width:100vw;height:80vh;margin-top:20vh;align-items:center;}.footer .telegram{width:25vw;height:10vh;display:inline-flex;padding:.5vw 1vh;justify-content:center;align-items:center;gap:1vw;border-radius:16px;background:#6A35FF;background:var(--6-a-35-ff, #6A35FF);box-shadow:0px 0px 26.4px 1px rgba(255, 255, 255, 0.87),8px -7px 20px 0px rgba(255, 255, 255, 0.25) inset,-6px 6px 20px 0px rgba(255, 255, 255, 0.25) inset;}.footer .telegram h3{color:#fff;font-family:Coolvetica;font-size:20px;font-style:normal;font-weight:400;line-height:100%}.footer .telegram img{width:20%}.footer .gradient{z-index:-1;position:absolute;width:432px;height:382px;flex-shrink:0;border-radius:406px;background:radial-gradient(53.01% 52.98% at 50% 50.33%, rgba(203, 185, 255, 0.8) 1%, rgba(251, 244, 72, 0.8) 41.5%, rgba(255, 121, 59, 0.8) 68%, rgba(203, 185, 255, 0.8) 97%);filter:blur(77px)}
