@import 'stylesheets/reset.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/index.scss';
@import 'stylesheets/about.scss';
@import 'stylesheets/article.scss';
@import 'stylesheets/newsletter.scss';
@import 'stylesheets/styleguide.scss';
@import 'stylesheets/visualfood.scss';
@import 'stylesheets/articles1.scss';
@import 'stylesheets/adaptive.scss';



  img{
    width: 15%;
  }




.div3{

  display: flex;
  width: 25vw;
  height: 40vh;
  padding: 2vw 4vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
  flex-shrink: 0;
  border-radius: 23.32px;
  background: radial-gradient(52.55% 52.6% at 47.58% 47.4%, rgba(255, 217, 40, 0.20) 0%, rgba(247, 137, 65, 0.20) 25.5%, rgba(174, 146, 255, 0.20) 100%);


  

  img{
    width: 15%;
  }


}




